# ── Java / Maven ──────────────────────────────────────
target/
*.class
*.jar
*.war

# ── IDE files ─────────────────────────────────────────
.idea/
.classpath
.factorypath
.project
.settings/
*.iml
.vscode/

# ── Angular / Node ────────────────────────────────────
node_modules/
dist/
.angular/

# ── OS ────────────────────────────────────────────────
.DS_Store
Thumbs.db
